<!doctype>
<h3><%= include_gon %></h3>

<link type="text/css" rel="stylesheet" href="/css/graph.css">
<link type="text/css" rel="stylesheet" href="/css/lines.css">

<script src="/js/d3.v3.js"></script>

<script src="/js/rickshaw.min.js"></script>

<div id="chart"></div>


<script>
alert("Hello");
alert(gon.stuff);
var graph = new Rickshaw.Graph( {
  element: document.getElementById("chart"),
  renderer: 'line',
  series: [
    {
      data: [ { x: 0, y: gon.stuff[0] }, { x: 1, y: gon.stuff[1] }, { x: 2, y: gon.stuff[2] }, { x: 3, y: gon.stuff[3] }, { x: 4, y: gon.stuff[4] } ],
      color: 'steelblue'
    }, {
      data: [ { x: 0, y: 19 }, { x: 1, y: 22 }, { x: 2, y: 32 }, { x: 3, y: 20 }, { x: 4, y: 21 } ],
      color: 'lightblue'
    }
  ]
} );

graph.render();

</script>